= bootstrap_form_tag form_opts.merge(:html => {:id => 'config-form'}) do |f|
  = f.text_field :name, :value => @config ? @config.name : nil, :disabled => !!@config
  = f.text_field :description, :value => @config ? @config.description : nil

  %fieldset
    %legend
      Service Configurations
    .service-config-collection.container-fluid
      = render :partial => 'service_config_collection', :locals => {:config_data => @config.try(:data) || Smash.new}
  = f.submit 'Save', :disable_with => 'Saving...', :class => 'btn btn-success pull-right'
  .clearfix


:javascript
  fission_services.data['config_id'] = #{@config.try(:id) || 'null'};
  fission_services.data['apply_service_configs_path'] = '#{apply_service_configs_path}';
  fission_services.data['edit_service_configs_path'] = '#{edit_service_configs_path}';
  fission_services.data['list_services_configs_path'] = '#{list_services_configs_path}';

  $(document).ready(fission_services.config_form_setup);
  $(document).on('page:load', fission_services.config_form_setup);
