= bootstrap_form_tag form_opts.merge(:html => {:id => 'config-form'}) do |f|
  = f.text_field :name, :value => @config ? @config.name : nil, :disabled => !!@config
  = f.text_field :description, :value => @config ? @config.description : nil
  - @services.each do |srv|
    - next if srv.service_config_items_dataset.count < 1
    %div.panel.panel-info
      %div.panel-heading= srv.name.humanize
      %div.panel-body
        - srv.service_config_items_dataset.order(:name).all.each do |item|
          - case item.type
          - when 'string', 'number'
            = f.text_field item.name, :name => "account_config[#{srv.id}][#{item.id}]", :help => item.description, :value => @config ? @config.data.get(*item.name.split('__').unshift(srv.name)) : nil
          - when 'hash'
            = f.text_area item.name, :name => "account_config[#{srv.id}][#{item.id}]", :help => item.description, :value => @config && @config.data.get(*item.name.split('__').unshift(srv.name)) ? MultiJson.dump(@config.data.get(*item.name.split('__').unshift(srv.name))) : nil, :label => "#{item.name.humanize} (JSON Hash)"
          - when 'boolean'
            = f.check_box item.name, :name => "account_config[#{srv.id}][#{item.id}]", :help => item.description, :checked => @config && @config.data.get(*item.name.split('__').unshift(srv.name))
  = f.submit 'Save', :disable_with => 'Saving...', :class => 'btn btn-success pull-right'
  .clearfix
