- is_modified = config_data && config_data.get(srv.name, '__is_modified__')
.panel.service-config-panel.config-item.panel-info{:id => "service-config-#{srv.name}", 'data-service-name' => srv.name}
  .panel-body
    %i.fa.fa-close.pull-right.config-item-delete{:style => 'color: darkred'}
    .row
      .col-md-2
      .col-md-8
        .colorize.text-info
          %center
            .fa.fa-4x.service-config-icon{:class => "fa-#{srv.icon || 'cog'}"}
          %center
            = srv.display_name.humanize
      .col-md-2
  .config-item-data.hidden{:class => "#{'modified' if is_modified}"}
    - srv.service_config_items_dataset.order(:name).all.each do |item|
      :ruby
        if config_data && config_data.get(*item.name.split('__').unshift(srv.name))
          value = config_data.get(*item.name.split('__').unshift(srv.name))
          if item.type == 'hash'
            value = MultiJson.dump(value)
          end
        end
      = text_area_tag "account_config[#{srv.id}][#{item.id}]", value, :id => "config-#{srv.id}-#{item.id}"
