.config-editor
  %table.table.table-bordered
    - service.service_config_items_dataset.order(:name).each do |sci|
      - value = config.get(service.name, *sci.name.split('__'))
      %tr.row
        %td.col-md-3
          %b= sci.name.humanize
        %td.col-md-9
          .item
            :ruby
              if(value.present?)
                case sci.type
                when 'hash'
                  unless(value.is_a?(Hash))
                    value = MultiJson.load(value)
                  else
                    value = MultiJson.load(MultiJson.dump(value))
                  end
                  value = JSON.pretty_generate(value)
                end
              else
                value = nil
              end
            - if sci.type == 'hash'
              = text_area_tag "account_config[#{service.id}][#{sci.id}]", value, :class => 'form-control'
            - elsif sci.type == 'boolean'
              = check_box_tag "account_config[#{service.id}][#{sci.id}]", 'true', value, :class => 'form-control checkbox'
            - else
              = text_field_tag "account_config[#{service.id}][#{sci.id}]", value, :class => 'form-control'
  .pull-right
    = link_to 'Apply', '#', :disable_with => 'Applying...', :class => 'btn btn-primary apply-editor'
  .clearfix

:javascript
  $('.apply-editor').click(function(){
    current_data = {};
    $('.config-item-data textarea').each(function(){
      current_data[$(this).attr('name')] = $(this).val();
    });
    $(this).parents('.config-editor').find('input:text').each(function(){
      current_data[$(this).attr('name')] = $(this).val();
    });
    $(this).parents('.config-editor').find('textarea').each(function(){
      current_data[$(this).attr('name')] = $(this).val();
    });
    $(this).parents('.config-editor').find('input:checkbox:checked').each(function(){
      current_data[$(this).attr('name')] = $(this).val();
    });
    $.post('#{apply_service_configs_path}', {
      service: '#{service.name}',
      data: current_data
    });
  });
