.config-editor
  = bootstrap_form_tag :html => {:id => "service-config-#{service.id}-form"} do |f|
    - service.service_config_items_dataset.order(:name).each do |sci|
      - value = config.get(service.name, *sci.name.split('__'))
      :ruby
        if(value.present?)
          case sci.type
          when 'hash'
            unless(value.is_a?(Hash))
              value = MultiJson.load(value)
            else
              value = MultiJson.load(MultiJson.dump(value))
            end
            value = JSON.pretty_generate(value)
          end
        else
          value = nil
        end
      - if sci.type == 'hash'
        = f.text_area "account_config[#{service.id}][#{sci.id}]", :value => value, :label => sci.name.humanize
      - elsif sci.type == 'boolean'
        = f.check_box "account_config[#{service.id}][#{sci.id}]", :value => value, :label => sci.name.humanize
      - else
        = f.text_field "account_config[#{service.id}][#{sci.id}]", :value => value, :label => sci.name.humanize
    .pull-right
      = f.submit 'Apply', :disable_with => 'Applying...', :class => 'btn btn-success'
    .clearfix

:javascript
  $('#service-config-#{service.id}-form').submit(function(){
    current_data = {};
    $('.config-item-data textarea').each(function(){
      current_data[$(this).attr('name')] = $(this).val();
    });
    $(this).parents('.config-editor').find('input:text').each(function(){
      current_data[$(this).attr('name')] = $(this).val();
    });
    $(this).parents('.config-editor').find('textarea').each(function(){
      current_data[$(this).attr('name')] = $(this).val();
    });
    $(this).parents('.config-editor').find('input:checkbox:checked').each(function(){
      current_data[$(this).attr('name')] = $(this).val();
    });
    $.post('#{apply_service_configs_path}', {
      service: '#{service.name}',
      data: current_data,
      modified_services: gather_modified()
    });
    return false;
  });
