- content_for(:heading_title) do
  = "Edit Account Config: #{@config.name}"
  %span.mod-message.hidden
    %b.text-danger
      (Modified!)
  :ruby
    link_opts = Smash.new(
      'window-rails-ajax' => 'delete',
      'window-rails-url' => config_path(@config.id),
      'window-rails-confirm' => "Delete configuration pack: #{@config.name.humanize}?",
      :class => 'pull-right window-rails'
    )
  = link_to(yield(:delete_icon), '#', link_opts)
  .clearfix


:ruby
  id = 'edit-account-config'
  content_for(:container) do
    render(
      :partial => 'layouts/panel',
      :locals => {
        :id => id,
        :heading => yield(:heading_title),
        :panel_content => render(
          :partial => 'form',
          :locals => {
            :form_opts => {
              :url => config_path(@config.id),
              :method => :put
            }
          }
        )
      }
    )
  end

= render(:partial => 'layouts/container', :locals => {:container_class => "#{id}-form", :container_id => "#{id}-holder"})
