= bootstrap_form_tag form_opts.merge(:html => {:id => 'service-group-form'}) do |f|
  = f.text_field :name, :value => @service_group ? @service_group.name : nil, :disabled => !!@service_group
  = f.text_field :description, :value => @service_group ? @service_group.description : nil
  = f.text_field :price, :value => @service_group ? @service_group.cost : nil, :prepend => '$', :append => '.00'
  .col-md-3.pull-left.service-group-list
    .panel.panel-success
      .panel-heading
        Group Services
      .panel-body
        %ul.list-group.bg-success.services-connector#group-services{:style => 'list-style-type: none; min-height: 20px'}
          - if @service_group
            - @service_group.services.each do |service|
              %li.list-group-item{:style => 'background-color: inherit', :service_id => service.id}= service.name
  .col-md-3.service-available-list
    .panel.panel-warning
      .panel-heading
        Available Services
      .panel-body
        %ul.list-group.bg-warning.services-connector#all-services{:style => 'list-style-type: none; min-height: 20px'}
          - @services.each do |service|
            %li.list-group-item{:style => 'background-color: inherit', :service_id => service.id}= service.name
  .clearfix
  .panel.panel-default
    .panel-heading
      Enable for product features
    %table.table.product-features
      - @products.each do |product|
        %thead
          %tr
            %th= product.name
        %tbody
          - product.product_features_dataset.order(:name).each do |feature|
            %tr
              %td{:class => @service_group && @service_group.product_features.include?(feature) ? 'success' : 'text-danger', 'feature-id' => feature.id, 'feature-active' => @service_group && @service_group.product_features.include?(feature).to_s}= feature.name.humanize
  #route-payload-filter
    - if @service_group
      - @service_group.service_group_payload_filters.each do |s_filter|
        = render :partial => 'service_group_filter', :locals => {:filter => s_filter, :rules => @match_rules}
    = link_to 'Add Filter', add_filter_admin_service_groups_path, :class => 'btn btn-primary pull-right', :role => 'button', :remote => true, :id => 'filter-adder'
  .clearfix
  %br
  = f.submit 'Save', :disable_with => 'Saving...', :class => 'btn btn-success'

:javascript
  $(document).ready(
    function(){
      $("#group-services, #all-services").sortable({
        connectWith: ".services-connector"
      }).disableSelection();
      $('#service-group-form').submit(function(event){
        $('#group-services li').each(function(){
          $('#service-group-form').append('<input type="hidden" name="services[]" value="' + $(this).attr('service_id') + '" />');
        });
      });
      $('.product-features td').hover(
        function(){
          $(this).filter('td[feature-active=true]').removeClass('success').addClass('danger');
          $(this).filter('td[feature-active=false]').removeClass('text-danger').addClass('active').addClass('text-success');
          $(this).css('cursor', 'pointer');
        },
        function(){
          $(this).filter('td[feature-active=true]').removeClass('danger').addClass('success');
          $(this).filter('td[feature-active=false]').removeClass('text-success').removeClass('active').addClass('text-danger');
          $(this).css('cursor', 'default');
        }
      );
      $('.product-features td').click(
        function(){
          if($(this).attr('feature-active') == 'true'){
            $(this).attr('feature-active', 'false').removeClass('success').removeClass('danger').addClass('text-danger');
          }
          else {
            $(this).attr('feature-active', 'true').addClass('success').removeClass('text-danger').removeClass('text-success');
          }
        }
      );
      $('#service-group-form').submit(function(event){
        $('.product-features td[feature-active=true]').each(function(idx, item){
          $('#service-group-form').append('<input type="hidden" name="product_features[]" value="' + $(item).attr('feature-id') + '" />');
        });
        $('#service-group-form .service-group-filter').each(
          function(idx, item){
            filter_id = item.id
            filter_elm = $(item);
            filter_name = 'filters[' + filter_id + ']';
            $('#service-group-form').append('<input type="hidden" name="' + filter_name + '[name]" value="' + $('#' + filter_id + '-name').val() + '" />');
            $('#service-group-form').append('<input type="hidden" name="' + filter_name + '[description]" value="' + $('#' + filter_id + '-description').val() + '" />');
            filter_elm.find('.filter-rule').each(
              function(r_idx, r_item){
                $('#service-group-form').append('<input type="hidden" name="' + filter_name + '[rule_id][' + r_idx + '][' + $(r_item).attr('rule_id') + ']" value="' + $(r_item).attr('rule_value') + '" />');
              }
            );
          }
        );
      });
    }
  );
