- content_for(:heading_title) do
  = link_to('Create', new_custom_service_path, :class => 'btn btn-success btn-sm pull-right')
  .clearfix

- content_for(:help_popup) do
  For more information on creating and running custom services,
  please refer to the
  = link_to('custom services documentation.', docs_page_path(:anchor => 'custom-services'))

- content_for(:footer_content) do
  :ruby
    btn_config = {
      'type' => 'button',
      'title' => 'Help',
      'data-toggle' => 'popover',
      'data-content' => yield(:help_popup),
      'data-placement' => 'top auto'
    }
  %button.btn.btn.btn-default.popper.pull-right{btn_config}
    %span.glyphicon.glyphicon-question-sign
  .clearfix

:ruby
  id = 'custom-services'
  content_for(:container) do
    render(
      :partial => 'layouts/panel',
      :locals => {
        :id => id,
        :heading => ('Custom Services' + yield(:heading_title)).html_safe,
        :footer => yield(:footer_content),
        :panel_content => render(
          :partial => 'layouts/table',
          :locals => {
            :header_data => ["Custom Services for #{@account.name}"],
            :data => @services.map{|service|
              [link_to(service.name, edit_custom_service_path(service.id))]
            }
          }
        )
      }
    )
  end

= render(:partial => 'layouts/container', :locals => {:container_class => "#{id}-list", :container_id => id})
